.content {
  display: flex;
  flex-direction: column;
  gap: var(--space-14);
  align-items: center;
  text-align: center;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text);
}

.subtext {
  font-size: 13px;
  color: var(--color-text-muted-60);
  margin-bottom: var(--space-8);
}

.switchLink {
  font-size: 13px;
  color: var(--color-text-muted-60);
}

.switchLink button {
  color: var(--color-primary);
  font-weight: 500;
  text-decoration: underline;
}
